.env
octave-workspace

# Not allowed to share publicly.
input

# Ruby
.byebug_history

# JavaScript
node_modules/

# Python
__pycache__/
*.py[cod]
*$py.class

# Graphviz
*.dot

# Mermaid diagrams
*.mmd
*.svg


# Test files.
o.py
o.rb
o.js
o[0-9].py
o[0-9].rb
o[0-9].js
