.env
octave-workspace

# Not allowed to share publicly.
input

# Ruby
.byebug_history

# JavaScript
node_modules/

# Python
__pycache__/
*.py[cod]
*$py.class

# Graphviz
*.dot

# Mermaid diagrams
*.mmd
*.svg
